
*{
	font-family: 'Roboto Slab', serif;
}
body{
	/*overflow: hidden;*/
}
.backToTop{
	width: 40px;
	height: 40px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	border: 1px solid white;
	color: white;
	opacity: 0.7;
	position: fixed;
	bottom: -10%;
	right: 2%;
	z-index: 10;
	transition: all 0.5s
}
.backToTop:hover{
	opacity: 1;
	cursor: pointer;
	background-color: #d7b38c;
}


/*HEADER*/
.header-box{
	height: 150px;
	width: 100%;
}
.header-box .header-info{
	height: 30px;
	background-color: black;
}
.header-box .header-info p{
	line-height: 30px;
}
.header-box .header-info .info{
	position: absolute;
	left: 0;
}
.header-box .header-info .info span{
	margin-right: 15px;
}
.header-box .header-info .info span a{
	font-size: 14px;
	color: #aaa;
	text-decoration: none;
}
.header-box .header-info .info span a:hover{
	color: white;
	cursor: pointer;
}
.header-box .header-info .icon{
	position: absolute;
	right: 0;
}
.header-box .header-info .icon a{
	font-size: 16px;
	color: #aaa;
	margin-left: 15px;
}
.header-box .header-info .icon a:hover{
	color: white;
}
.header-box .header{
	height: 120px;
	background-image: url(../img/dark-wall.webp);
	background-repeat: repeat-x;
}
.header-box .header img{
	height: 40px;
	margin-top: 40px;
}
.header-box .header .menu{
	position: absolute;
	right: 0;
	top: 40px;
	height: 40px;
}
.header-box .header .menu li{
	list-style-type: none;
	display: inline-block;
	position: relative;
	padding-bottom: 10px;
}
.header-box .header .menu li .title{

}
.header-box .header .menu li .title{
	line-height: 40px;
	text-decoration: none;
	border: 2px solid transparent;
	color: #aaa;
	padding: 10px 15px;
}
.header-box .header .menu li:first-child .title{
	border: 2px solid #d7b38c;
	color: white;
}
.header-box .header .menu li .title:hover{
	border: 2px solid #d7b38c;
	color: white;
}
.header-box .header .menu li .drop-menu{
	margin-top: 10px;
	color: black;
	position: absolute;
	z-index: 1;
	top: 120px;
	width: 200%;
	opacity: 0;
	pointer-events: none;
}
/*ribbon*/
.header-box .header .menu li .drop-menu .first:before{
  content: "";
  position: absolute;
  top: -8px;
  left: 15px;
  border-top: 8px solid transparent;
  border-right: 8px solid white;
}
.header-box .header .menu li .drop-menu .first:hover:before{
	border-right: 8px solid #ccc;
}
/*end ribbon*/
.header-box .header .menu li:hover .drop-menu{
	top: 40px;
	opacity: 1;
	pointer-events: all;
	transition: all 0.5s;
}
.header-box .header .menu li:hover .title{
	border: 2px solid #d7b38c;
	color: white;
}
.header-box .header .menu li .drop-menu .item{
	line-height: 40px;
	background-color: white;
	border-bottom: 1px solid #ccc;
}
.header-box .header .menu li .drop-menu .item a{
	text-decoration: none;
	color: black;
}
.header-box .header .menu li .drop-menu .item a span{
	font-weight: lighter;
	position: absolute;
	line-height: 40px;
	right: 10px;
}
.header-box .header .menu li .drop-menu .item:hover{
	background-color: #ccc;
}
/*dropchild*/
.header-box .header .menu li .drop-child-menu{
	color: black;
	position: absolute;
	z-index: 1;
	top: 80px;
	left: 102%;
	width: 100%;
	opacity: 0;
	pointer-events: none;
}
.header-box .header .menu li .drop-menu .item:hover .drop-child-menu{
	top: 0px;
	opacity: 1;
	pointer-events: all;
	transition: all 0.5s;
}
.header-box .header .menu li .drop-child-menu .item{
	line-height: 40px;
	background-color: white;
	border-bottom: 1px solid #ccc;
}
.header-box .header .menu li .drop-child-menu .item a{
	text-decoration: none;
	color: black;
	margin-left: 0;
}
.header-box .header .menu li .drop-child-menu .item:hover{
	background-color: #ccc;
}
/*end dropchild*/




/*END HEADER*/

/*BANNER*/
.banner{
	position: relative;
}
.banner .banner-slide{
	
}
.banner .banner-item{
	width: 100%;
	height: 800px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-clip: border-box;
}
.banner-slide .item:focus{
	outline: none;
}
.banner-slide .title{
	margin-top: 15%;
	font-size: 80px;
	color: white;
	letter-spacing: 5px;
	width: 100%;
	text-align: center;
	/*opacity: 0;*/
	animation-fill-mode: forwards;
	animation-duration: 1s;
	/*animation-name: APPEAR;*/
	animation-timing-function: linear;
	animation-delay: 1s;
}
.banner-slide .description{
	margin-top: 0px;
	font-size: 20px;
	color: white;
	width: 100%;
	text-align: center;
	/*opacity: 0;	*/
	animation-fill-mode: forwards;
	animation-duration: 1s;
	/*animation-name: APPEAR;*/
	animation-timing-function: linear;
	animation-delay: 1s;
}
.slide-appear{
	opacity: 0;	
	animation-name: APPEAR;
}
@keyframes APPEAR{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.prev-banner-box{
	position: absolute;
	line-height: 600px;
	top: 0;
	left: 5%;
	height: 100%;
	z-index: 2;
}
.prev-banner-box i{
	font-size: 50px;
	color: white;
	cursor: pointer;
	opacity: 0.7;
}
.next-banner-box{
	position: absolute;
	line-height: 600px;
	top: 0;
	right: 5%;
	height: 100%;
	z-index: 2;
}
.next-banner-box i{
	font-size: 50px;
	color: white;
	cursor: pointer;
	opacity: 0.7;
}
.banner .booking{
	width: 90%;
	position: absolute;
	top: 600px;
	height: 120px;
	left: 5%;
	z-index: 2;
	background-color: #faf9f8;
	border-top: 2px solid #d7b38c;
}
.booking form{
	display: flex;
	justify-content: center;
	align-items: center;
}
.booking li{
	display: inline-block;
	list-style-type: none;
	margin-left: 20px;
	margin-right: 20px;
	height: 120px;
}
.booking li:last-child{
	display: flex;
	justify-content: center;
}
.booking li p{
	line-height: 40px;
	margin-top: 5px;
	width: 100%;
}
.booking li p span{
	color: red;
}
.booking li .infos{
	height: 40px;
	margin-top: -10px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.booking li .infos:focus{
	outline: none;
}
.booking .submit-btn{
	height: 40px;
	width: 100%;
	margin-top: 52px;
	background-color: black;
	color: white;
	border-radius: 5px;
	border: none;
}
.booking .submit-btn:hover{
	background-color: #d7b38c;
	cursor: pointer;
	transition: all 0.5s;
}

/*END BANNER*/

/*WELCOME*/
.welcome{
	background-image: url(../img/light-wall.webp);
	background-repeat: repeat;
	border: 1px solid transparent;
}
.welcome .words{
	margin-top: 50px;
}
.welcome .title{
	width: 100%;
	text-align: center;
	font-size: 50px;
}
.welcome .icon-title{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.welcome .short-des{
	width: 100%;
	text-align: center;
	font-size: 40px;
}
.welcome .images{
	margin-top: 50px;
	height: 400px;
}
.welcome .images .itemBox{
	border: 15px solid transparent;
	position: relative;
}
.welcome .images .itemBox .item{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: absolute;
	border: 15px solid white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.welcome .detail{
	margin-top: 50px;
}
.welcome .detail p{
	width: 80%;
	margin-left: 10%;
	font-size: 20px;
	text-align: center;
}
.welcome .detail .more{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.welcome .detail .more input{
	width: 15%;
	border: 2px solid transparent;
	background-color: black;
	color: white;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	font-weight: bold;
}
.welcome .detail .more input:hover{
	border: 2px solid black;
	background-color: white;
	color: black;
	cursor: pointer;
	transition: all 0.5s;
}

/*END WELCOME*/

/*INTRODUCE ROOMS*/
.introduce{
	height: 500px;
	background-image: url(../img/booking-big-image.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	border-top: 1px solid transparent;
}
.introduce .title{
	width: 100%;
	font-size: 60px;
	text-align: center;
	margin-top: 10%;
	color: white;
}
.introduce .detail{
	width: 100%;
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
	color: white;
}
.introduce .book-btn{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.introduce .book-btn input{
	width: 15%;
	height: 40px;
	line-height: 40px;
	border: 2px solid transparent;
	border-radius: 5px;
	background-color: white;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}
.introduce .book-btn input:hover{
	color: white;
	background-color: #d7b38c;
	transition: all 0.5s;
	cursor: pointer;
}
/*END INTRODUCE ROOMS*/

/*DINING*/
.dining{
	border-top: 1px solid transparent;
	background-image: url(../img/light-wall.webp);
	background-repeat: repeat;
	border-bottom: 1px solid #ccc;
}
.dining .words{
	margin-top: 50px;
}
.dining .words .title{
	width: 100%;
	text-align: center;
	font-size: 50px;
}
.dining .words .icon-title{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dining .words .detail{
	margin-top: 30px;
	width: 80%;
	margin-left: 10%;
	font-size: 20px;
	text-align: center;
}
.dining .images{
	margin-top: 50px;
}
.dining .dining-slide{
	width: 80%;
	margin-left: 10%;
	margin-bottom: 100px;
}
.dining-slide .dining-item{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
	position: relative;
	overflow: hidden;
}
.dining-slide .dining-item:focus{
	outline: none;
}
.dining-slide .dining-item .info{
	width: 100%;
	height: 100px;
	position: absolute;
	left: 100%;
	bottom: 5px;
	background-color: white;
	z-index: 2;
	animation-name: DINING-INFO;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}
@keyframes DINING-INFO{
	0%{
		left: 100%;
	}
	100%{
		left: 0;
	}
}
.dining-slide .dining-item .info .title{
	width: 90%;
	font-size: 20px;
	margin-left: 5%;
}
.dining-slide .dining-item .info .detail{
	width: 90%;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-left: 5%;
	height: 20px;
	line-height: 20px;
}

/*END DINING*/

/*STATS*/
.stats{
	background-image: url(../img/light-wall.webp);
	background-repeat: repeat;
	border-top: 1px solid transparent;
	padding-bottom: 50px;
}
.stats .title{
	margin-top: 50px;
	font-size: 50px;
	width: 100%;
	text-align: center;
}
.stats .icon-title{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.stats .info{
	margin-top: 30px;
}
.stats .info .itemBox{
	border: 15px solid white;
	overflow: hidden;
	position: relative;
	height: 400px;
	cursor: pointer;
	background-color: white;
}
.stats .info .itemBox:hover{
	background-color: #f0f0f0;
	border: 15px solid #f0f0f0;
}
.stats .info .itemBox .item{
	width: 100%;
	height: 100%;
}
.stats .info .itemBox:before{
	content: "";
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #d7b38c;
}
.stats .info .itemBox .item .number{
	width: 100%;
	text-align: center;
	font-size: 70px;
	margin-top: 25%;
}
.stats .info .itemBox .item .slice{
	width: 30%;
	margin-left: 35%;
	border-bottom: 5px solid #d7b38c;
}
.stats .info .itemBox .item .criteria{
	margin-top: 5%;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	font-size: 24px;
}

/*END STATS*/


/*BLOGS*/
.blogs{
	background-image: url(../img/dark-wall.webp);
	background-repeat: repeat;
	border-top: 1px solid transparent;
	padding-bottom: 50px;
}
.blogs .title{
	margin-top: 50px;
	font-size: 50px;
	width: 100%;
	text-align: center;
	color: white;
}
.blogs .icon-title{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.blogs .info{
	margin-top: 30px;
}
.blogs .info .itemBox{
	border: 15px solid white;
	overflow: hidden;
	position: relative;
	height: 400px;
	cursor: pointer;
	background-color: white;
}
.blogs .info .itemBox:hover{
	
}
.blogs .info .itemBox .item{
	width: 100%;
	height: 100%;
}
.blogs .info .itemBox:before{
	content: "";
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #d7b38c;
}
.blogs .info .itemBox .item .number{
	width: 100%;
	text-align: center;
	font-size: 70px;
	margin-top: 25%;
}
.blogs .info .itemBox .item .slice{
	width: 30%;
	margin-left: 35%;
	border-bottom: 5px solid #d7b38c;
}
.blogs .info .itemBox .item .criteria{
	margin-top: 5%;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	font-size: 24px;
}

/*END BLOGS*/